<template name="_loginButtons">
	<div id="login-buttons" class="login-buttons-dropdown-align-{{align}}">
    {{#if currentUser}}
      {{#if loggingIn}}
        
        {{#if dropdown}}
          {{> _loginButtonsLoggingIn}}
        {{else}}
          <div class="login-buttons-with-only-one-button">
            {{> _loginButtonsLoggingInSingleLoginButton}}
          </div>
        {{/if}}
      {{else}}
        {{> _loginButtonsLoggedIn}}
      {{/if}}
    {{else}}
      {{> _loginButtonsLoggedOut}}
    {{/if}}
  </div>
</template>

<template name="_loginButtonsLoggedIn">
	{{#if dropdown}}
    {{> _loginButtonsLoggedInDropdown}}
  {{else}}
    <div class="login-buttons-with-only-one-button">
      {{> _loginButtonsLoggedInSingleLogoutButton}}
    </div>
  {{/if}}
</template>

<template name="_loginButtonsLoggedOut">
	{{#if services}} 
    {{#if configurationLoaded}}
      {{#if dropdown}} 
        {{> _loginButtonsLoggedOutDropdown}}
      {{else}}
        {{#with singleService}} 
          <div class="login-buttons-with-only-one-button">
            {{#if loggingIn}}
              {{> _loginButtonsLoggingInSingleLoginButton}}
            {{else}}
              {{> _loginButtonsLoggedOutSingleLoginButton}}
            {{/if}}
          </div>
        {{/with}}
      {{/if}}
    {{/if}}
  {{else}}
    <div class="no-services">No login services configured</div>
  {{/if}}
</template>

<template name="_loginButtonsMessages">
	{{#if errorMessage}}
    <div class="message error-message">{{errorMessage}}</div>
  {{/if}}
  {{#if infoMessage}}
    <div class="message info-message">{{infoMessage}}</div>
  {{/if}}
</template>

<template name="_loginButtonsLoggingIn">
	{{> _loginButtonsLoggingInPadding}}
  <div class="loading">&nbsp;</div>
  {{> _loginButtonsLoggingInPadding}}
</template>

<template name="_loginButtonsLoggingInPadding">
	{{#unless dropdown}}
    
    <div class="login-buttons-padding">
      <div class="login-button single-login-button" style="visibility: hidden;" id="login-buttons-logout">&nbsp;</div>
    </div>
  {{else}}
    
    <div class="login-buttons-padding" />
  {{/unless}}
</template>

