<template name="_loginButtons">
	<div id="login-buttons" class="login-buttons-dropdown-align-{{align}}">
    {{#if currentUser}}
      {{#if loggingIn}}
        
        {{#if dropdown}}
          {{> _loginButtonsLoggingIn}}
        {{else}}
          <div class="login-buttons-with-only-one-button">
            {{> _loginButtonsLoggingInSingleLoginButton}}
          </div>
        {{/if}}
      {{else}}
        {{> _loginButtonsLoggedIn}}
      {{/if}}
    {{else}}
      {{> _loginButtonsLoggedOut}}
    {{/if}}
  </div>
</template>

